.original-container {
    border: 1px solid green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

app-rsp-game {
    position: relative;
    display: flex;
    justify-content: center;
}
app-bonus {
    position: relative;
    display: flex;
    justify-content: center;
}