<!-- Main Container -->
<div class="original-container min-h-screen border border-green-500 flex flex-col justify-around">
    <app-score-board [score]="score" [logo]=logo class="mt-[20px]" />
    
    @if (!computerTurn) {
    <div class="">
        <app-rsp-game (onComputerTurn)="ComputerTurn($event)" />
    </div>
    }

    @if (computerTurn) {
    <div class="xl:block flex flex-col items-center">
        <app-results 
            [picked]="orignalPicked" 
            (onAgainPlay)="againPlay()" 
            (onScoreChange)="scoreChange($event)" 
        />
    </div>
    }

    <!-- Rules Button Container -->
    <app-rules-button />
<app-bonus />