<div class="score-title flex justify-between w-[53%] min-w-[650px] mx-auto my-5 p-4 rounded-lg outline outline-4 outline-white/50">
    <img [src]="logo" alt="{{logo}}" [style.width.px]="logoWidth" [style.height.px]="logoHeight" class="md:w-30 md:h-30">
    <div class="score flex flex-col justify-center items-center w-1/5 bg-white rounded-lg">
        <span class="text-[--score-text] text-sm">SCORE</span>
        <span class="text-[--dark-text] text-7xl font-bold">{{ score }}</span>
    </div>
</div>