<div class="relative w-[350px] h-[350px] bg-[url('/assets/images/bg-triangle.svg')] bg-no-repeat bg-center bg-[length:80%] md:w-[350px] md:h-[350px]">
    <!-- Rock Button -->
    <div 
        (click)="rockSelected()"
        class="absolute bottom-0 left-1/2 -translate-x-1/2 w-32 h-32 rounded-full border-[15px] border-rock-from bg-white flex items-center justify-center transition-colors hover:bg-gradient-to-r from-rock-from to-rock-to hover:cursor-pointer md:w-32 md:h-32"
    >
        <img src="assets/images/icon-rock.svg" alt="rock">
    </div>

    <!-- Paper Button -->
    <div 
        (click)="paperSelected()"
        class="absolute top-0 left-0 w-32 h-32 rounded-full border-[15px] border-paper-from bg-white flex items-center justify-center transition-colors hover:bg-gradient-to-r from-paper-from to-paper-to hover:cursor-pointer md:w-32 md:h-32"
    >
        <img src="assets/images/icon-paper.svg" alt="paper">
    </div>

    <!-- Scissors Button -->
    <div 
        (click)="scissorsSelected()"
        class="absolute top-0 right-0 w-32 h-32 rounded-full border-[15px] border-scissors-from bg-white flex items-center justify-center transition-colors hover:bg-gradient-to-r from-scissors-from to-scissors-to hover:cursor-pointer md:w-32 md:h-32"
    >
        <img src="assets/images/icon-scissors.svg" alt="scissors">
    </div>
</div>